<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location to track latitude crossings even in the background</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to track latitude crossings</string>
	<key>NSCameraUsageDescription</key>
	<string>Take photos to capture the moment when you break geographical records</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Choose photos from your library to attach to your geographical records, or scan your library to import historical records</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos of your geographical records to your library</string>
</dict>
</plist>
